<div class="box">
  <mat-card-header>
    <!-- <mat-card-title class="title">Log in</mat-card-title> -->
  </mat-card-header>
  <form class="login-form"(ngSubmit)="login()">
    <h1>Login</h1>
    <div class="form-input-material">
      <input type="text" [(ngModel)]="loginUser.email" name="userName" placeholder="Email"  autocomplete="off" class="form-control-material" required />
      <label for="username">Username</label>
    </div>
    <div class="form-input-material">
      <input type="password" matInput [(ngModel)]="loginUser.password" name="Password" placeholder="Password" autocomplete="off" class="form-control-material" required />
      <label for="password">Password</label>
    </div>
    <button type="submit" class="btn btn-primary btn-ghost">Login</button>
    <div class="register">
      <h6>Don't have account : <a (click)="register()">Sign Up</a></h6>
    </div>
  </form>
  <!-- <form class="example-form" (ngSubmit)="login()">
    <mat-card-content>
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput [(ngModel)]="loginUser.email" name="userName" placeholder="Email" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput type="password" matInput [(ngModel)]="loginUser.password" name="Password" placeholder="Password" />
      </mat-form-field>
    </mat-card-content>

        <button type="submit" mat-raised-button class="btn" >Submit</button>
    
  </form> -->


</div>


<!-- ============ -->
<!-- <div class="box">
<form class="login-form" action="javascript:void(0);">
  <h1>Login</h1>
  <div class="form-input-material">
    <input type="text" name="username" id="username" placeholder=" " autocomplete="off" class="form-control-material" required />
    <label for="username">Username</label>
  </div>
  <div class="form-input-material">
    <input type="password" name="password" id="password" placeholder=" " autocomplete="off" class="form-control-material" required />
    <label for="password">Password</label>
  </div>
  <button type="submit" class="btn btn-primary btn-ghost">Login</button>
</form>
</div> -->