<div class="box">
  <form class="login-form"(ngSubmit)="login()">
    <h1 style="color: aquamarine;">Login</h1>
    <div class="form-floating mb-3">
      <input type="email" class="form-control"  [(ngModel)]="loginUser.email" name="userName" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" [(ngModel)]="loginUser.password" name="Password" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-ghost">Login</button>
    <div class="register">
      <h6>Don't have account : <a (click)="register()" style="color: aquamarine;">Sign Up</a></h6>
    </div>
  </form>
</div>


