.Container{
    color: black;
    display: flex;
    justify-content: space-evenly;
    height: 55px;
    margin-bottom: 35px;
    font-weight: bold;
    /* border:0 1px solid gray ; */
    border-radius: 10px;
    /* box-shadow: 10px 10px 5px rgb(123, 128, 123); */
    
}

.Container a{
    margin-left: 5px;
    text-decoration: none;
    background-color: rgb(129, 255, 200);
}
nav ul li button{
    background-color: rgb(129, 255, 200);
}
ul{
    display: flex;
    line-height: 55px;
    padding:0 40px;
}
ul li{
    padding-left: 30px;
}
span{

    line-height: 55px;
    
}