<nav class="navbar">
  <ul>
    <li>
      <a class="logo" routerLink="/">Service Provider</a>

    </li>
  </ul>

  <input type="checkbox" id="toggler" />
  <label for="toggler"><i class="fa-light fa-bars"></i> </label>
  <div class="menu">
    <ul class="list">
      <li>
        <a [matMenuTriggerFor]="menu1">For Provider</a>
        <mat-menu #menu1="matMenu">
          <button routerLink="/StoreProducts" mat-menu-item>
            Customer Query</button>
        </mat-menu>
      </li>
      <!-- ------------- -->
      <li>
        <a [matMenuTriggerFor]="menu2">For Customer</a>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item routerLink="/addProduct">Add Service
          </button>
        </mat-menu>
      </li>
<!-- ------------------- -->
      <li *ngIf="!loggedin()"><a (click)="login()">Login</a></li>
      <!-- <li *ngIf="!loggedin()"><a (click)="register()">Register</a></li> -->
      <li *ngIf="loggedin()">
        <a [matMenuTriggerFor]="menu3">{{userNameForWelcome|uppercase}}</a>
        <mat-menu #menu3="matMenu">
      <li> <button mat-menu-item routerLink="/profile">Profile</button></li>
      <li><a (click)="logOut()" mat-menu-item>LogOut</a></li>
      </mat-menu>
      </li>

    </ul>
  </div>
</nav>