
<nav class="navbar">
  <ul>
    <li>
      <a class="logo" routerLink="/">VIP</a>

    </li>
  </ul>
  
  <input type="checkbox" id="toggler" />
  <label for="toggler"><i class="fa-light fa-bars"></i> </label>
  <div class="menu">
    <ul class="list">
      <li><a routerLink="/StoreProducts">Buy</a></li>
      <li><a routerLink="/addProduct">Add Product</a></li>
      <li *ngIf="!loggedin()"><a (click)="login()">Login</a></li>
      <li *ngIf="!loggedin()"><a (click)="register()">Register</a></li>
      <li *ngIf="loggedin()">
        <a  [matMenuTriggerFor]="menu">Welcome {{userNameForWelcome}}</a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item>Profile</a>
        <li ><a (click)="logOut()" mat-menu-item>LogOut</a></li>
        
      </mat-menu>
      </li>
      
    </ul>
  </div>
</nav>
