<div class="body">
<div class="container ">
  <div class="card">
    <div class="card-header">Profile</div>
    <div class="card-body row">
      <div class="row-cols-4">
        <input type="text" disabled [value]="details.userFname" />
        <input type="text" disabled [value]="details.userLname" />
        <input type="text" disabled [value]="details.email" />
        <textarea name="" id="" [value]="details.address" disabled></textarea>
        <input type="text" disabled [value]="details.panNum" />
        <input type="text" disabled [value]="details.aadharNum" />
        <input type="text" disabled [value]="details.gender" />
        <input type="text" disabled [value]="details.phoneNumber" />
        <input type="text" disabled [value]="details.state" />
        <input type="text" disabled [value]="details.city" />
        <input type="text" disabled [value]="details.country" />
        <input type="text" disabled [value]="details.category" />
        <input type="text" disabled [value]="details.postalCode" />
      </div>
    </div>
  </div>
</div>
</div>