<div class="body">
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card mt-2">
        <div class="card-header">
          <h3>Add new Query here</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="addProblemData()">
            <div>
              <tabset #staticTabs type="pills" >
                <tab class="heading" heading=" Basic Info" >
                  <div>
                
                   

                    <div class="form-group col-12 pt-4">
                      <label>Type of Work</label>
                      <input
                        type="text"
                        class="form-control"
                        ngModel
                       [(ngModel)]="productView.typeOfWork"
                        name="Type"
                      />
                    </div>

                    <div class="form-group col-12 pt-4">
                      <label>place</label>
                      <input
                        type="text"
                        class="form-control"
                        ngModel
                        name="place"
                        [(ngModel)]="productView.place"
                      />
                    </div>

                    <div class="form-group col-12 pt-4">
                      <label>Problem Details</label>
                      <input
                        type="text"
                        class="form-control"
                        #propName="ngModel"
                        ngModel
                        name="problem"
                        required
                        [(ngModel)]="productView.problemDetails"
                      />
                      <!-- <span *ngIf="!propName.valid && propName.touched" class="error-block">
                      <span *ngIf="propName.errors.required">Please provide name</span>
                      <span *ngIf="propName.errors.minlength">Name must be atleast 5 char long</span>
                    </span> -->
                    </div>

                
                    <div class="d-grid gap-2 pt-4">
                      <button
                        type="button"
                        class="btn btn-primary btn-block"
                        (click)="selectTab(1)"
                      >
                        Next
                      </button>
                    </div>
                  </div>
                </tab>
                <tab class="heading" heading="Pricing">
                  <div class="d-grid gap-2 pt-4">
                    <div class="form-group col-12">
                      <label>Price</label>
                      <input type="text" name="cost" class="form-control"  [(ngModel)]="productView.costOfWork" />
                    </div>

                    <div class="form-group col-12 pt-4">
                      <label>Days of work</label>
                      <input type="text" class="form-control" name="days" [(ngModel)]="productView.daysOfWork" />
                    </div>
<!-- 
                    <div class="form-group col-12 pt-4">
                      <label>Charges from provider</label>
                      <input type="text" class="form-control" />
                    </div> -->
               
                     <button
                      type="button"
                      class="btn btn-primary btn-block mt-4"
                      (click)="selectTab(2)"
                    >
                      Next
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-block mt-4"
                      (click)="selectTab(0)"
                    >
                      Back
                    </button>
                  </div>
                </tab>
                <tab class="heading" heading="Address">
                  <div class="geo">
                    <button class="btn btn-light m-3" (click)="getIP()">Get Current Location</button>
                  </div>
                  <div class="locationDetails">
                    <textarea name="" class="m-3" id="" cols="30" rows="10"></textarea>
                  </div>
                  <div class="d-grid gap-2">
                    <button
                      type="button"
                      class="btn btn-primary btn-block"
                      (click)="selectTab(3)"
                    >
                      Next
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-block"
                      (click)="selectTab(1)"
                    >
                      Back
                    </button>
                  </div>
                </tab>
                <tab class="heading" heading="Other Details">
     

                  <div class="form-group col-3 colour" >
                    <label>When to Work</label>
                    <div class="col-xs-12 col-12 col-md-5 form-group mb-3 inpcol">
                      <mat-form-field appearance="fill" >
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Start date" name="start" [(ngModel)]="productView.workStartDate">
                          <input matEndDate placeholder="End date" name="End" [(ngModel)]="productView.workEndDate">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                    </div>
                  </div>

                 
                  <div class="d-grid gap-2">
                    <button
                      type="button"
                      class="btn btn-primary btn-block"
                      (click)="selectTab(4)"
                    >
                      Next
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-block"
                      (click)="selectTab(2)"
                    >
                      Back
                    </button>
                  </div>
                </tab>
                <tab class="heading" heading="Photos">
                  <div class="form-group col-12">
                    <div class="photo-control">
                      <button class="mt-5" type="button">Upload</button> <br />
                      This is under construction
                    </div>
                  </div>
                  <div class="d-grid gap-2">
                    <button
                      type="button"
                      class="btn btn-primary btn-block"
                      (click)="selectTab(3)"
                    >
                      Back
                    </button>
                    <button type="submit" class="btn btn-primary btn-block">
                      Submit
                    </button>
                  </div>
                </tab>
              </tabset>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-12 mt-2">
      <div class="card">
      <div class="card-header">
        <h3>Your Query Preview</h3>
      </div>
      <div class="card-body">
        <app-store-card [prop]="productView" [hideIcons]="true"></app-store-card>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

