
.photo-control {
    min-height: 300px;
    vertical-align: middle;
    text-align: center;
    border: 1px dashed blue;
    margin: 5px;
  }
  .container,.card{
    background-color: black;
    color: white;
  }


  .heading{
    color: aquamarine;
  }

  .colour .inpcol input{
    background-color: transparent!important;
    color: black!important;
  }