/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
    *{
        padding: 0;
        margin: 0;
        list-style: none;
        font-family:  Roboto;
        color: white;
    
    }
    .body{
        padding: 0;
        margin: 0;
        background-color: black;

    }
    html {   background-color: black; }
